@using Shop.Models
@model CategoryModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Резактирование категории</title>
</head>
<body>
<div>
    @using (@Html.BeginForm("Index", "EditCategory", FormMethod.Post))
    {
        <div>
            @Html.ValueFor(o => o.CategoryId)
            @Html.HiddenFor(o => o.CategoryId)
        </div>
        <div>
            @Html.TextBoxFor(o => o.CategoryName)
        </div>
        <div>
            @Html.DropDownListFor(o => o.ParentCategoryId, Model.CategoryList, "--Пусто--")
        </div>
        <div>
            <input type="submit" value="Сохранить"/>
        </div>
    }
</div>
</body>
</html>
