@model IEnumerable<Shop.Models.ShowCategoryModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>
            <caption>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Категория
                    </th>
                    <th>
                        Родительская категория
                    </th>
                    <th>
                        Действие
                    </th>
                    <th>
                        Удалить
                    </th>
                </tr>
            </caption>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td>@category.ParentCategoryName</td>
                    <td>@Html.ActionLink("Изменить", "EditCategory", new { categoryId = category.CategoryId })</td>
                    <td>@Html.ActionLink("Удалить", "DeleteCategory", new { categoryId = category.CategoryId })</td>
                </tr>
            }
        </table>

    </div>
</body>
</html>
